# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pem
test.py
tests/

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
.env.*

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

#claude
.claude/
